<div class="page-container" [ngStyle]="getPageStyle()">

  <div class="inner-page" [style.height.px]="height - margin">

    <div class="grid-column" *ngFor="let column of gridColumns; let i = index;" [ngStyle]="getColumnStyle(i)"></div>
    <div class="grid-row" *ngFor="let row of gridRows; let i = index;" [ngStyle]="getRowStyle(i)"></div>

    <ng-container *ngFor="let item of items">
      <div appGridDraggable class="draggable" [bounds]="gridBounds" [item]="item">
        Hello
      </div>
    </ng-container>
  
  </div>

  <!-- <div *ngFor="let item of dashboard$ | async; trackBy: trackDashboardItem"
    class="draggable"
    [style.width.px]="item.w * dashboardWidth"
    [style.height.px]="item.h * dashboardWidth"
    [style.top.px]="item.y"
    [style.left.px]="item.x"
    [style.z-index]="item.z">
    <app-widget-container [widgetId]="item.id" [resizeEvent]="resizeEvent$" [processAll]="processAll$"></app-widget-container>
  </div> -->
</div>
