.page-container {
  width: 100%;
  border-bottom: 2px dashed black;
  background: #eee;
}

.inner-page {
  background: white;
  position: relative;
}

.draggable {
  width: 150px;
  height: 150px;
  background: #44a3b4;
  color: white;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  position:absolute;
}

.grid-column {
  position: absolute;
  border-left: 1px solid #eee;
}

.grid-row {
  position: absolute;
  border-bottom: 1px solid #eee;
}
