<div class="container">

  <div class="left-container">
    
  </div>

  <div class="container1" #bounds1>
    <div appDraggable draggableFrom="handle1" [bounds]="bounds1" class="draggable" style="width: 80px; height: 80px;">
      <div class="draggable-header" id="handle1">Move it 1</div>
      <div class="draggable-container"></div>
    </div>
    <div appDraggable draggableFrom="handle2" [bounds]="bounds1" class="draggable" style="width: 100px; height: 100px;">
      <div class="draggable-header" id="handle2">Move it 2</div>
      <div class="draggable-container"></div>
    </div>
  </div>

  <div class="container2" #bounds2>
    <div appDraggable draggableFrom="handle1" [bounds]="bounds2" class="draggable" style="width: 80px; height: 80px;">
      <div class="draggable-header" id="handle1">Move it 1</div>
      <div class="draggable-container"></div>
    </div>
    <div appDraggable draggableFrom="handle2" [bounds]="bounds2" class="draggable" style="width: 100px; height: 100px;">
      <div class="draggable-header" id="handle2">Move it 2</div>
      <div class="draggable-container"></div>
    </div>
  </div>

</div> 
