<div class="container">

    <div class="container1" #bounds1>
      <h3 style="width:100%;">Small container</h3>
      <div appDraggable [bounds]="bounds1" class="draggable">
        <img src="assets/redpanda.jpg" alt="Red Panda" width=100 height=100>
      </div>
      <div appDraggable [bounds]="bounds1" class="draggable">
        <img src="assets/sloth.jpg" alt="Sloth" width=100 height=100>
      </div>
    </div>

    <div class="container2" #bounds2>
      <h3 style="width:100%;">High container</h3>
      <div appDraggable draggableFrom="handle1" [bounds]="bounds2" class="draggable">
        <div class="draggable-header" id="handle1">Move it 1</div>
        <div class="draggable-container"></div>
      </div>
      <div appDraggable draggableFrom="handle2" [bounds]="bounds2" class="draggable">
        <div class="draggable-header" id="handle2">Move it 2</div>
        <div class="draggable-container"></div>
      </div>
    </div>

</div> 
