.custom-drag-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
}

.custom-drag-container .container {
  min-width: 300px;
  width: 40%;
  background: #9ba0b8;
  text-align: center;
}

.draggable {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

/* CONTAINER 1 */
.container1 {
  height: 300px;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  border: 2px solid black;
  width: 500px !important;
}

img {
  border-radius: 5px;
  cursor: grab;
}

/* CONTAINER 2 */
.container2 {
  overflow-y: scroll;
  max-height: 400px;
  border: 2px solid black;
}

.container2 .text {
  color: #c0c3d3;
  font-style: italic;
}

.container2 .draggable {
  border: 1px solid black;
  text-align: center;
}

.draggable-header {
  height: 30px;
  background: #393f4d;
  color: white;
  cursor: grab;
}

.draggable-container {
  height: 100%;
  background: #9ba0b8;
}

/* CONTAINER 3 */
.container3 {
  min-width: 400px;
  width: 400px;
  height: 300px;
  background: #9ba0b8;
  position: relative;
}

.container3 .draggable {
  border: 1px solid white;
  background: #393f4d;
  text-align: center;
  color: white;
  position: absolute;
  top: 60px;
  left: 30px;
}

/* CONTAINER 4 */
.container4 {
  border: 2px solid black;
  position: relative;
}

.container4 .draggable {
  border: 1px solid white;
  background: #393f4d;
  text-align: center;
  color: white;
  position: absolute;
  top: 60px;
  left: 30px;
}
