.container {
  background: black;
  display: flex;
}

.left-container {
  width: 20%;
}

.container1 {
 /* position: relative;  */
  width: 40%;
  height: 1500px;
  background: #9ba0b8;
}

.container2 {
  /* position: relative; */
  width: 40%;
  height: 1500px;
  background: #bbc0dd;
}

.draggable {
  /* position: absolute; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.draggable-header {
  height: 30px;
  cursor: move;
  border-bottom: 1px solid;
}
