<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabSelected($event)">
  <mat-tab label="Common RxJS examples">
    <markdown lineNumbers [start]="5" [src]="'assets/rxjs/commonUseCases.md'"></markdown>
  </mat-tab>
  <mat-tab label="Sandbox">
    <app-sandbox></app-sandbox>
  </mat-tab>
  <mat-tab label="Drag & Drop Tutorial">
    <markdown lineNumbers [start]="5" [src]="'assets/rxjs/dragDropTutorial.md'"></markdown>
  </mat-tab>
  <mat-tab label="Drag & Drop Sandbox">
    <app-drag-drop-sandbox></app-drag-drop-sandbox>
  </mat-tab>
</mat-tab-group>
