html,
body {
  font-family: Helvetica;
  margin: 0;
  background: #393f4d;
  height: 100%;
  overflow: hidden; /* for dashboard mode */
}

.no-select ::selection {
  background: transparent;
}

.no-select ::-moz-selection {
  background: transparent;
}

.moving {
  box-sizing: border-box;
  border: 1px solid white !important;
  z-index: 9999;
}
